nav {
  background-color: $myColor8 !important;
  a.navbar-brand {
    @include logo(1.5rem, $myColor3);
  }

  a.nav-link {
    @include nav-links($myColor3, 1rem);
  }

  .contact-btn {
    border: 1px solid $myColor3;
    background-color: transparent;
    color: $myColor3 !important;
    font-family: $myFontsContent;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 6px;
    transition: all 0.3s ease;
    &:hover {
      box-shadow: inset 0 0 0 3px $myColor3;
    }
  }
}

.navbar-light .navbar-toggler {
  color: rgba(255, 255, 255, 55%);
  border-color: rgba(255, 255, 255, 10%);
}

.navbar-light .navbar-toggler-icon {
  background-image: url("../img/hamburguer.svg");
}
